@model TrainingApplication.Models.Course_CourseCate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course_CourseCate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCate.CourseCateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCate.CourseCateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCourseCateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
