
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Profile", "TrainingStaffProfile", "TrainingStaffAction")</li>
        <li>@Html.ActionLink("Trainer", "Index", "Trainer")</li>
        <li>@Html.ActionLink("Trainee", "Index", "Trainee")</li>
        <li>@Html.ActionLink("CourseCategories", "Index", "CourseCates")</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
        <li>@Html.ActionLink("Topic", "Index", "Topics")</li>
        <li>@Html.ActionLink("Managing", "Index", "TrainingManaging")</li>
    </ul>
