@model TrainingApplication.Models.TrainingStaff

@{
    ViewBag.Title = "TrainingStaffProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TrainingStaffProfile</h2>

<div>
    <h4>TrainingStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingStaffUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingStaffUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingStaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingStaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingStaffDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingStaffDes)
        </dd>

    </dl>
</div>
<p>
     |
    @Html.ActionLink("Back", "Index", "Home")
</p>
